@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scroll */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .scrollbar-thin {
    scrollbar-width: thin; 
    -ms-overflow-style: auto; 
    scrollbar-color: #d0d0d0 transparent;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

}